body {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif; 
}

.game {
    text-align: center;
    margin-top: 50px;
}

.choices {
    margin-bottom: 20px;
}

.choices button {
    margin: 10px;
    padding: 12px 24px;
    font-size: 30px;
    cursor: pointer;
}



.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.wins {
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

.btn-custom {
    padding: 10px;
    font-size: 15px;
}
